<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit a Flag</title>
  </head>
  <body>
    <h1>Edit the flag of <%= @flag.country %></h1>
    <form action="/flags/<%= @flag.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <p><label for="country">Country: </label>
      <input type="text" name="country" value="<%= @flag.country %>"></p>
      <p><label for="adoption_date">Adoption Date: </label>
      <input type="text" name="adoption_date" value="<%= @flag.adoption_date %>"></p>
      <p><label for="proportion">Proportion: </label>
      <input type="text" name="proportion" value="<%= @flag.proportion %>"></p>
      <p><label for="design">Design: </label>
      <input type="text" name="design" value="<%= @flag.design %>"></p>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
